!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
%table
  %tbody
    %tr
      %td 
      %img{:height => "400", :src => asset_path("mpls_orig.jpg"), :width => "600", :float=>"right"}
      %td 
      %h2 Life's a Journey, enjoy the Ride
    %tr
      %td 
      %h3 RideMe! is a fun, free ride-share app that connects drivers, with those seeking a ride.
      %br
      %h6 Niraj Gupta     |     Kokou Kingbede     |     Nafiul Karim Nafi     |     John Rollins
      %td 
      %h6 Copyright 2016
