// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#events th{
    text-align:left;
    padding:10px;   
}


.tablehead th{
    padding:10px;
.login_top_menu_btn{
   padding: 10px;
}


.body
{
    background-color:red;
    width:200px;
    text-align:right;
}